body {
    background-color: #faf7fe;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    color:#885df1;
}

header {
    margin-bottom: 30px;
}

h1 {
    font-weight:800;
    font-size:36px;
    line-height: 1.5;
    color:#272044;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 20px;
    color:#272044; 
}

form {
  display:flex;
  
}

.container {
    margin:120px auto;
    max-width: 600px;
}

.form-container {
  background-color: white;
  padding: 25px 30px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

.instructions {
    padding:16px;
    border:1px solid rgba(23, 17, 49, 0.5);
    width:80%;
    font-size:16px;
    border-radius:10px;
    line-height:20px;
    color:#272044;

}

.submit-button {
    margin-left:10px;
    background-color:#885df1;
    color:white;
    border:none;
    border-radius:10px;
    padding:14px 24px;
    width:100px;
    font-size:16px;

}

.itinerary {
   font-size: 16px;
   background-color: #fff;
   padding: 20px;
   line-height: 2;
   border-left: 3px solid #885df1;
   box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03); 
}

.hint {
    line-height: 1.5;
    font-size: 12px;
    margin-top: 6px;
    opacity: 0.6; 
}

footer {
    text-align: center;
    font-size:13.5px;
    margin-top:30px;
}